<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">
  Lorem ipsum dolor amet lomo mustache dreamcatcher yr. Pickled seitan
  biodiesel, keytar tofu snackwave palo santo messenger bag. Four dollar toast
  +1 beard organic schlitz disrupt austin tbh vaporware gochujang street art hot
  chicken YOLO. Cliche YOLO seitan poutine raclette. Bushwick listicle paleo
  chia, woke distillery raw denim thundercats vape disrupt coloring book unicorn
  marfa. Man bun chia dreamcatcher hashtag, actually semiotics drinking vinegar
  whatever fanny pack. Hexagon poke brooklyn paleo cardigan yuccie gastropub
  taiyaki. Narwhal offal squid flexitarian. Mumblecore cliche mlkshk,
  cold-pressed microdosing freegan franzen small batch. Truffaut cronut
  humblebrag, next level bespoke gluten-free williamsburg heirloom tacos before
  they sold out fixie beard. Put a bird on it tofu offal fashion axe la croix
  knausgaard.
</div>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>
